

/* 
. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 
Estilos propios del carnet
*/


.carnet{
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 900px;
    height: 540px;
    color: white !important;
    border-radius: 16px;
    overflow: hidden;
    box-sizing: border-box; 
    box-shadow: 0 1px 4px rgba(0,0,0,.5) !important;
    margin: 20px auto;
}

.carnet h1,
.carnet h2,
.carnet h3,
.carnet p{ margin: 0px; padding: 0px; }


.carnet > .cabecera, 
.carnet > .cuerpo, 
.carnet > .pie,
.carnet > .escudo{ 
    position: absolute;
    overflow: hidden;
    display: flex; 
}

.carnet > .cabecera, 
.carnet > .cuerpo, 
.carnet > .pie{  width: 100%; }


.carnet > .cabecera{ 
    top: 0px; 
    height: 90px;
    flex-direction: row;
    align-content: center;
    border-radius: 16px 16px 0px 0px;
}

.carnet > .cabecera > .icono{   width: 64px; padding-top: 18px; padding-left: 40px; padding-right: 20px; }
.carnet > .cabecera > .icono span{   font-size: 64px;  }
.carnet > .cabecera > div:last-child{   
    display: flex;
    flex-direction: column;
    flex-grow: 2; 
    justify-content: center;
    padding-right: 30px;
    border-bottom: 2px solid white;
}
.carnet > .cabecera > div:last-child h1{    font-size: 34px; line-height: 34px; font-weight: bold; }
.carnet > .cabecera > div:last-child h3{    font-size: 16px; /* display: flex; align-self: flex-start; */}
.carnet > .cabecera > div:last-child > *{ display: flex; text-align: left; align-self: flex-start; }




.carnet > .cuerpo{ 
    top: 90px; 
    flex-direction: row;
    gap: 40px;
    padding: 40px 0px;
}
.carnet > .cuerpo > div:first-child{   width: 220px; padding-left: 40px; }
.carnet > .cuerpo > div:last-child{   width: calc(100% - 260px); padding-right: 40px; }
.carnet > .cuerpo p{  font-size: 14px; }

.carnet > .cuerpo .info > div{  margin-bottom: 20px; }
.carnet > .cuerpo .info > div p{  font-size: 14px; }

.carnet > .cuerpo .foto{   position: relative; width: 220px; height: 220px; overflow: hidden; margin-bottom: 20px; }
.carnet > .cuerpo .foto > img {    width: 100%; }

.carnet > .cuerpo .cUnicaProfesional{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}
.carnet > .cuerpo .cUnicaProfesional > div:first-child{ width: calc(100% - (120px)); }
.carnet > .cuerpo .cUnicaProfesional > div:last-child{ width: 100px; }
.carnet > .cuerpo .cUnicaProfesional > .codigoQr{     
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    overflow: visible;
}
.carnet > .cuerpo .cUnicaProfesional h1{ margin-bottom: 20px; }
/* .carnet > .cuerpo .cUnicaProfesional  p:first-child{  font-size: 14px; } */

.carnet > .cuerpo .matriculacion{                       margin-top: 20px; }
.carnet > .cuerpo .matriculacion > div:first-child{     margin-bottom: 20px; }
.carnet > .cuerpo .matriculacion > div:first-child h3{  margin-top: 4px; }

.carnet > .cuerpo .matriculacion > div:last-child,  
.carnet > .cuerpo .matriculacion > div:last-child > div{    display: flex; gap: 20px; }

.carnet > .cuerpo .matriculacion > div:last-child{          flex-direction: column; }/*  border: 1px dashed black; */
.carnet > .cuerpo .matriculacion > div:last-child > div{    flex-direction: row;}/*  border: 1px dotted black;  */


.carnet > .cuerpo .matriculacion > div:last-child > div{  width: 100%; gap: 40px;  }/**/
.carnet > .cuerpo .matriculacion > div:last-child > div > div{  
    width: calc(50% - 20px);
    display: flex;
    flex-direction: row;
    gap: 20px;   
}
.carnet > .cuerpo .matriculacion > div:last-child > div > div > p{  width: calc(50% - 10px);  }
.carnet > .cuerpo .matriculacion > div:last-child > div > div > p:first-child{ width: 120px; text-align: right; }
.carnet > .cuerpo .matriculacion > div:last-child > div > div > p:last-child{ width: calc(100% - 140px);}
.carnet > .cuerpo .matriculacion > div:last-child > div > div:only-child{  width: 100%;  }
.carnet > .cuerpo .matriculacion > div:last-child > div > div:only-child > p:first-child{ width: 120px; text-align: right; }
.carnet > .cuerpo .matriculacion > div:last-child > div > div:only-child > p:last-child{ width: calc(100% - 140px); }
.carnet > .cuerpo .matriculacion > div:last-child  div > p:last-child{  font-weight: bold; }

/* 
.carnet > .cuerpo .matriculacion .info{  display: flex; flex-direction: row; gap: 40px; } 
.carnet > .cuerpo .matriculacion .info > div{  display: flex; flex-direction: row; gap: 10px; margin-bottom: 0px; }
.carnet > .cuerpo .matriculacion .info > div > p:last-child{  font-weight: bold; }
 */
.carnet > .pie{ 
    bottom: 0px; 
    height: 70px;
    flex-direction: row;
    justify-content: flex-end;
    border-radius: 0px 0px 16px 16px;
}

.carnet > .pie > .icono{ margin-right: 40px; }
.carnet > .pie > .icono > *{ background-repeat: no-repeat !important; }
.carnet > .pie *{ position: relative; align-self: center;  }

.carnet > .pie span{ display: flex; font-size: 120px; color: white; }



.carnet > .escudo{  
    position: absolute; 
    width: 480px; 
    height: 530px; 
    top: 10px; 
    right: 0px; 
    text-align: right;
}

.carnet > .escudo span {
    position: relative;
    right: -80px;
    font-size: 510px;
    opacity: .1;
}

 
/* 
. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 
Ajustes y detalles
*/

.contenedor > h1 { text-align: center; }


/* 
. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 
Debug
*/

/* 
.carnet > .cuerpo .matriculacion .info{  background-color: gainsboro; }

.carnet > .cuerpo .matriculacion .info > div{  background-color: goldenrod; }
.carnet > .cabecera, 
.carnet > .cuerpo, 
.carnet > .pie{ border: 1px dotted black; }


.carnet > .cuerpo .cUnicaProfesional,
.carnet > .cuerpo .cUnicaProfesional *{
    border: 1px dotted black;
}


 */
