
/* Importaciones */


@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;500;700&family=Roboto:wght@300;500;700;900&display=swap');

body{ 
    background-color: #f5f5f5; 
	font-family:'Roboto', sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

#pie{
    display: flex;
    justify-content: center;
    border-top: rgba(0, 0, 0, .2) solid 2px;
    color: #fff;
    background-color: #999;
}


#pie >  .contenedor{
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin: 40px 0px;
    /* align-self: center; */
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
}

#pie >  .contenedor p{
    color: white;
    font-size: 12px;
    font-weight: 500;
    margin: 0px;
    line-height: 17px
}

#pie > .contenedor > div{
    display: flex;
    flex-direction: column;
}

/* #pie > .contenedor > div{ width: calc((100% - 40px)/2); gap: 0px; } */

.pie_sisa,
.pie_msal { 
    display: flex;
    align-items: center; 
    width: 100%; 
}
/* 
.pie_sisa > div:first-child{ width: 244px !important; }     
.pie_sisa > div:last-child{ width: calc(100% - 254px); }

.pie_msal > div:first-child{ width: 173px !important; }                
.pie_msal > div:last-child{ width: calc(100% - 183px); }
*/



.sisa_logo_verneg {
    width: 244px;
    height: 56px;
    background-image: url(./SISA_logo_ctda_pluma.svg);
    background-repeat: no-repeat;
}


.msal_logo_verneg {
    width: 173px;
    height: 70px;
    background-image: url(./msal_logo_verneg.svg);
    background-repeat: no-repeat;
}

#pie > .contenedor > div > div > div{
    /* background-color: palevioletred; */
    margin-bottom: 10px;
}




/*  X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {     
    #pie > .contenedor{        width: 1024px;    }
    /* #pie > .contenedor{ background-color: green; } */
}

/*  Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    
    #pie > .contenedor{  width: 992px; }
    /* #pie > .contenedor{ background-color: greenyellow; } */
}

/*  Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    
    #pie > .contenedor{  width: 768px;    }
    /* #pie > .contenedor{ background-color: orange; } */
}

/*  Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    
    #pie > .contenedor{ 
        width: 576px;    
        flex-direction: column;
        align-items: center;
    }
    #pie > .contenedor > div{ width: 100%; gap: 20px; }

    .pie_sisa,
    .pie_msal { 
        justify-content: center; 
    }
    
    #pie > .contenedor > div > div{ width: initial !important;  }
    #pie > .contenedor > div > div p{    text-align: center;    }
    
    /*#pie > .contenedor{ background-color: orangered; }  */
}

/*  X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    
    #pie > .contenedor{
        flex-direction: column !important;
        align-items: center;
    }
    #pie > .contenedor > div > div{      gap: 10px;    }
    
    /* #pie > .contenedor > div > div{ background-color: red;    } */ 
}


/* Debug */

/*  
.pie_sisa,
.pie_msal { 
    background-color: violet;
    border: dashed 1px yellow;
}

.pie_sisa > div,
.pie_msal > div { 
    border: dotted 2px black;
}
#pie > .contenedor{border: dashed 3px yellow;}

#pie > .contenedor > div{     border: dotted 2px darkblue;   }
#pie > .contenedor > div > *{     border: dotted 1px black;   }
*/
/* background-color: violet; */
/* background-color: blueviolet;  */