@charset "utf-8";
/* CSS Document */

/*
===============================================

	Colores


	azul1 =		#000099;
	azul2 =		#3366ff;
	amarillo =	#ff9900;
	gris =		#333333;

	************************

	/* A1 =	#000055; otr */
	/* A2 =	#000099; */

	/* A3 =	#3366ff; */

	/* A4 =	#4040ff; */
	/* A5 =	#8080ff; */
	/* A6 =	#ebebff; */


	/* G0 =	#999; */
	/* G1 =	#7f7f7f; */
	/* G2 =	#595959; */
	/* G2.5 =	#aaa; */
	/* G3 = #f5f5f5; */

	/* V1 =	#006633; */
	/* V2 =	#009933; */

	/* R1 =	#990033; */
	/* R2 =	#cc0033; */

/* */	

/* 	A+			4d4dff */
/* 	A-			00007f */

/* 	Amarillo	ff9900 */
/* 	Gris fondo	f5f5f5 */



/*  SISTEMA    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
*/

/*
#iconos .col-xs-1{		padding: 0 5px;}
#iconos .panel{			height: 140px !important; text-align: center !important; }
#iconos 
.accfrec_recuadro  {	height: 90px !important;}
#iconos 
.accfrec_recuadro span {float: none; margin: auto; padding-bottom: 15px;}
#iconos .panel-body{	padding: 5px;}
*/

#iconosCatalogo .col-xs-1{		padding: 0 5px;}
#iconosCatalogo .panel{			/*height: 140px !important;*/ text-align: center !important; }
.accfrec_recuadro span {float: none; margin: auto; padding-bottom: 15px;}
#iconosCatalogo .panel-body{	padding: 5px;}


/*  Index    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
*/



#sisa_index {	
	background-color: #3366ff; 
}

.unicornio{
	position: fixed;
	left: 0px;
	font-size: 200px;
	color: rgba(255,255,255,.1);
	float: left;
	bottom: 0px;
}


#sisa_index .row{	margin: 20px 0px;}
#sisa_index .row > *{align-items: stretch;}
#sisa_index .row > * > *{align-items: stretch;}

/*
#sisa_index .col-xs-12,
#sisa_index .col-xs-4{	
	margin: 0px 10px;
	padding: 0px 10px;
}

#sisa_index .col-xs-12:first-child,#sisa_index .col-xs-4:first-child{	padding-left: 0px;	}
#sisa_index .col-xs-12:last-child,#sisa_index .col-xs-4:last-child{		padding-right: 0px;	}
*/



#sisa_index .col-xs-12 > div,
#sisa_index .col-xs-9 > div,
#sisa_index .col-xs-6 > div,
#sisa_index .col-xs-3 > div,
#sisa_index .col-xs-4 > div{
	padding: 20px;
	border-radius: 4px; 
	background-color: white; 
	box-shadow: 0 1px 4px rgba(0,0,0,.5); 
}


#BrunoMonti .buscador{
	color: white !important;
} 
#BrunoMonti .buscador .boton{
	color: white !important;
} 
#BrunoMonti .buscador .boton{		height: 28px !important;	} 
#BrunoMonti .buscador .boton > span{	top: -2px !important;	padding: 2px !important;	margin: 0px !important;	} 

#BrunoMonti .botonera{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
} 
#BrunoMonti .botonera .boton > *{	color: white !important;} 
#BrunoMonti .botonera .boton > h1{	font-size: 42px;	} 
#BrunoMonti .botonera .boton > p{	margin-bottom: 0px;	} 

#BrunoMonti .secciones p{	margin-bottom: 10px;	} 






/*  Borrar    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
*/



.SISA_Solapas .Contenedor.homes_v4{ margin-left: 3px !important; margin-right: 3px !important;	}
.homes_v4 .SISA_BotoneraLateral > .secciones > .row p { margin-bottom: 10px;	}

.homes_v4 .buscador .panelBuscador {	justify-content: center; margin: 40px 0px; }
.homes_v4 .buscador .panelBuscador input[type="text"]{	height: 40px;	/* padding: 14px !important; */ }

.homes_v4 .buscador .panelBuscador .boton{	height: 40px !important; display: flex; align-content: center; }
.homes_v4 .buscador .panelBuscador span{	font-size: 19px !important; }
.homes_v4 .buscador .panelBuscador > div:first-child p{	margin-right: 0px !important; }


.homes_v4 .numeros{ display: flex; flex-direction: row; justify-content: space-between !important; margin-bottom: 40px;	}

.homes_v4 .numeros div {
	display: flex; 
	flex-direction: column; 
	border-radius: 4px; 
	padding: 8px 12px; 
	flex-grow: 1;
	margin: 0px 10px 0px 10px;
}

.homes_v4 .numeros a{	color: #FFF !important;    } 
.homes_v4 .numeros .numero > h1{	font-size: 72px; text-align: center;	}
.homes_v4 .numeros .numero > h3:first-child{	margin-bottom: 10px;	}
.homes_v4 .numeros .numero > h3 a{	font-size: 36px; text-align: center;	}
.homes_v4 .numeros .texto{	/* margin-left: 10px; */ text-align: center;	}

.homes_v4 .numeros .texto *,
.homes_v4 .numeros .numero *{	margin: 0px !important; color: rgba(255,255,255,.5);	}
.homes_v4 .numeros .texto a{	font-size: 16px; font-weight: bold;	}

.homes_v4 .SISA_BotoneraLateral .secciones > div{	 
	padding: 0 40px;
}

.contenedor_registro{	display: flex; flex-direction: row; margin-bottom: 10px; }
.registro{				width: 60px; margin-right: 10px; }
.registro > div{		width: 40px; height: 40px; padding: 4px; border-radius: 8px;	}
.registro span{			font-size: 30px; color: white;}

.maquetas ul li{		display: flex; flex-direction: row; }
.maquetas ul li a{		text-decoration: none; margin-top: 4px; margin-right: 4px; }


.maquetas ul.backup li{			font-size: 8px; }
.maquetas ul.backup li span{	font-size: 10px; top: -3px !important; position: relative; }

/* .listas tr{	padding: 4px;} */
.listas tr > td a{			background-color: white; display: block; box-shadow: 0px 0px 2px rgba(0,0,0,.2); border-radius: 2px; padding: 0px 10px; font-size: smaller; margin-top: 4px;	}
.listas tr.backup > td a{	background-color: lightgrey; color: white;}