@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;700&display=swap');


/* 
. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 
Estilos heredados de SISA
*/



body{
    position: absolute;
    width: 100%;
    height: 100%;
	margin: 0px;
	padding: 0px;
	
	font-family:'Roboto', sans-serif;
	font-size:12px;
	font-weight: normal;
	color: #333;
	
	background-color:#F5F5F5; /* G3 */
}


hr { 	
	width: 100%;
	height: 1px;
	background-color: rgba(0, 0, 0, .5);
	margin: 4px 0 30px 0; 
}

/*Links*/
a{			color:#37BBED; /* A3 */ font-weight:normal; text-decoration:none;}
a:hover{	text-decoration: underline;color:#37BBED; /* A3 */ }
a:focus{	text-decoration: underline;color:#37BBED; /* A3 */ }


/* CABECERA  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#cabecera{
	position:relative;
	height: 74px;
    background-color:#37BBED;
    border-bottom: 1px #50535C solid;
}

#cabecera .cabecera_izq{
    display: flex;
    flex-direction: row;
    position: relative; 
    z-index: 2000; 
    overflow: hidden; 
    height: 73px;
}
#cabecera .cabecera_izq *{ position: relative; align-self: center;}
#cabecera .cabecera_izq span{   color: white !important; padding: 10px;}
#cabecera .cabecera_izq span:first-child{   padding-left: 0px;}
#cabecera .cabecera_izq span:last-child{   padding-right: 0px;}
#cabecera .cabecera_izq span.sisa{   font-size: 200px;}
#cabecera .cabecera_izq span.msal{   font-size: 86px;}


/* PIE  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.pie{
    width: 100%;
    color: #fff;
    background-color: #50535C;
    text-align:center;
}

.pie a{			color: #ebebff; font-weight: normal; text-decoration:none;	}	
.pie a:hover{	text-decoration: underline;	}	

.pie .seguridad_seccion{
	width: 100%;
	text-align:center;
    background-color: #37BBED;
}
.pie .proyectos > .row > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative; 
    height: 100px;
    z-index: 2000; 
    overflow: hidden; 
}
.pie .proyectos span{
    display: flex;
    align-self: center;
    overflow: hidden;
}

.pie span.sisa{   font-size: 120px;}
.pie span.msal{   font-size: 130px;}
.pie span.presidencia{   font-size: 200px;}
.pie span.publicidad{   font-size: 260px;}


.pie .row > *{  
    display: flex;
    align-self: center;
}
.pie .row .contenedorDatos{   
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0px;
}
.pie .row .contenedorDatos > *{    padding: 0px; margin: 0px; }
.pie .row .contenedorLogo{   
    position: relative;
    display: flex;
    align-self: center;
    height: 60px;
    overflow: hidden;
}
.pie .row .contenedorLogo > *{   
    position: relative;
    display: flex;
    align-self: center;
    justify-items: center;
}
.pie .row .dngiss h4{ font-family: 'Roboto'; font-weight: bold; font-size: 26px;}
.pie .row .dngiss p{ margin-top: 2px; }
.pie .row .sisa p{ margin-top: -6px; }

body .col-12{    position: relative; }





/* 
. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 
Estilos propios del carnet
*/


.carnet{
    position: relative;
    left: 50%;
    margin-left: -400px;
    display: flex;
    flex-direction: column;
    width: 856px;
    height: 540px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 15px;  
    box-shadow: 0 1px 4px rgba(0,0,0,.5) !important;
    background-color: white;
    font-family: 'Encode Sans', sans-serif !important;
}
.carnet,
.carnet > div{  box-sizing: border-box; }

.carnet h1,
.carnet h2,
.carnet h3,
.carnet p{
    margin: 0px;
    padding: 0px;
}

.carnet > div{  padding: 4px 0px; }

.carnet > .cabecera{  
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 101px !important;
    border-radius: 15px 15px 0px 0px;
    background-color: white;
}
.carnet > .cabecera > .icono{   width: 140px; padding-top: 20px; padding-left: 40px; padding-right: 30px;  }
.carnet > .cabecera > .icono span{   font-size: 70px; color: #B81AB3 !important;  }
.carnet > .cabecera > div:last-child{   
    display: flex;
    align-content: center;
    flex-grow: 2; 
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    border-bottom: 2px solid #707070;
}
.carnet > .cabecera > div:last-child h1{    display: flex; align-self: center; font-size: 34px; font-weight: bold;}


.carnet > .cuerpo{    
    display: flex; 
    flex-direction: column; 
    height: 348px;
    padding: 20px 55px;
    background-color: white; 
}
.carnet > .cuerpo > div{     display: flex; flex-direction: row;}
.carnet > .cuerpo > div > div:first-child{   width: 65%; }
.carnet > .cuerpo > div > div:last-child{   width: 35%; padding-left: 20px; }
.carnet > .cuerpo .info h3{    font-size: 18px !important; line-height: 18px; font-weight: bold; }
.carnet > .cuerpo .info p{     font-size: 14px !important; line-height: 14px; font-weight: normal; padding-bottom: 14px; }
.carnet .info{  margin-bottom: 40px;}
.carnet .info:last-child{  margin-bottom: 0px;}


.carnet > .pie{
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: flex-end;
    height: 90px;
    width: 100%;
    padding: 10px 40px;
    border-radius: 0px 0px 15px 15px;
    background-color: #37BBED;
    color: white;
    overflow: hidden; 
}

.carnet > .pie *{ position: relative; align-self: center;}

.carnet > .pie span{ display: flex; color: white; }
.carnet > .pie .msal span{ font-size: 180px; }

.carnet > .escudo{  
    position: absolute; 
    width: 480px; 
    height: 440px; 
    top: 10px; 
    right: 0px; 
    text-align: right;
    overflow: hidden; 
}
.carnet > .escudo span {
	position: relative;
	right: -80px;
	font-size: 510px;
	opacity: .1;
}



/* frente    . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . */

.carnet.frente > .cuerpo{    display: flex; flex-direction: row; height: 360px !important; padding: 42px 93px; }
.carnet.frente > .cuerpo > div{     width: 50%;}

.carnet.frente > .cuerpo > div:last-child{     padding-left: 50px; align-self: center; }

.carnet.frente > .cuerpo .codigoQr{     
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    overflow: visible;
    height: 268px !important;
    width: 268px !important;
}
.carnet.frente > .cuerpo .codigoQr > img{     box-sizing: border-box; }
.carnet.frente > .cuerpo{     display: flex; flex-direction: row;}
.carnet.frente > .cuerpo > div:first-child{   width: 65%; }
.carnet.frente > .cuerpo > div:last-child{   display: flex; flex-direction: column; width: 100%; padding-left: 50px; }
.carnet.frente > .cuerpo > div > div:last-child {   padding-left: 0px; }



/* Dorso    . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . */

.carnet.dorso > .cuerpo > div{  border-bottom: 1px #50535C solid; }
.carnet.dorso > .cuerpo > div:last-child{  padding-top: 10px; border: none; }
.carnet.dorso > .cuerpo .info p{     padding-bottom: 6px !important; }
.carnet.dorso .info{  margin-bottom: 14px !important;}



/* 
. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 
Estilos del aviso
*/

.noCarnet .carnet{
    position: relative;
    left: 50%;
    width: 400px;
    height: 200px;
    margin-left: -200px;
    border-radius: 15px;
}
.noCarnet .carnet h1,
.noCarnet .carnet p{
    font-family:'Roboto', sans-serif !important;
}

.noCarnet .carnet .cabecera{  
    display: flex;
    height: 48px !important;
    padding: 10px 20px;
    border-radius: 15px 15px 0px 0px;
    background-color: #37BBED;
}
.noCarnet .carnet .cabecera > *{ color: white; font-size: 20px; font-weight: bold; }
.noCarnet .carnet .cuerpo{    display: flex; flex-direction: row; height: 130px; padding: 10px 20px; }

.noCarnet .carnet .cuerpo .icono { padding-right: 20px; }
.noCarnet .carnet .cuerpo .icono > div{     position: relative; width: 82px; height: 82px; border-radius: 8px; background-color: #383780; }
.noCarnet .carnet .cuerpo .icono > div span{ 
    position: relative;
    top: 0px;
    right: 18px;
    font-size: 80px; 
    color: white; 
}
.noCarnet .carnet > .pie { display: none;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: flex-end;
    height: 30px;
    width: 100%;
    padding: 10px 40px;
    border-radius: 0px 0px 15px 15px;
    background-color: white;
    color: rgb(97, 93, 93);
    overflow: hidden;
}



.botonCambio{
    position: absolute;
    top: 25%;
    right: 0px;
}
.botonCambio > .Botoncito{
    position: relative;
    z-index: 2001;
    display: flex;
    padding: 4px;
    border-radius: 8px 0px 0px 8px;
    box-shadow: 0 1px 4px rgba(0,0,0,.5) !important;
    background-color: white;
}
.botonCambio > .Botoncito > span{ font-size: 24px;}
.botonCambio > .Botoncito:hover{ background-color: #50535C; cursor: pointer;}
.botonCambio > .Botoncito:hover > span{ color: yellow;}

