@font-face {
  font-family: 'sisafont';
  src:  url('../fonts/sisafont.eot?kapj4x');
  src:  url('../fonts/sisafont.eot?kapj4x#iefix') format('embedded-opentype'),
    url('../fonts/sisafont.ttf?kapj4x') format('truetype'),
    url('../fonts/sisafont.woff?kapj4x') format('woff'),
    url('../fonts/sisafont.svg?kapj4x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sisafont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-acceder:before {
  content: "\e900";
}
.icon-acceder_ver:before {
  content: "\e901";
}
.icon-aceptar:before {
  content: "\e902";
}
.icon-acerca:before {
  content: "\e903";
}
.icon-actualizar:before {
  content: "\e904";
}
.icon-ael_consejo:before {
  content: "\e905";
}
.icon-ael_contenidos:before {
  content: "\e906";
}
.icon-ael_destacado:before {
  content: "\e907";
}
.icon-ael_nota:before {
  content: "\e908";
}
.icon-agregar:before {
  content: "\e909";
}
.icon-archivo:before {
  content: "\e90a";
}
.icon-archivo_adjunto:before {
  content: "\e90b";
}
.icon-archivo_agregar:before {
  content: "\e90c";
}
.icon-archivo_descarga:before {
  content: "\e90d";
}
.icon-archivoformato_bmp:before {
  content: "\e90e";
}
.icon-archivoformato_csv:before {
  content: "\e90f";
}
.icon-archivoformato_doc:before {
  content: "\e910";
}
.icon-archivoformato_jpeg:before {
  content: "\e911";
}
.icon-archivoformato_json:before {
  content: "\e912";
}
.icon-archivoformato_pdf:before {
  content: "\e913";
}
.icon-archivoformato_pps:before {
  content: "\e914";
}
.icon-archivoformato_ppt:before {
  content: "\e915";
}
.icon-archivoformato_rar:before {
  content: "\e916";
}
.icon-archivoformato_txt:before {
  content: "\e917";
}
.icon-archivoformato_url:before {
  content: "\e918";
}
.icon-archivoformato_xls:before {
  content: "\e919";
}
.icon-archivoformato_xlsx:before {
  content: "\e91a";
}
.icon-archivoformato_zip:before {
  content: "\e91b";
}
.icon-argentina_escudo:before {
  content: "\e91c";
}
.icon-atencion:before {
  content: "\e91d";
}
.icon-auditoriaconsultar:before {
  content: "\e91e";
}
.icon-autoridades:before {
  content: "\e91f";
}
.icon-ayudaenlinea:before {
  content: "\e920";
}
.icon-borrar:before {
  content: "\e921";
}
.icon-buscar:before {
  content: "\e922";
}
.icon-cancelar:before {
  content: "\e923";
}
.icon-capacitacion_agendaeinscripcion:before {
  content: "\e924";
}
.icon-capacitacion_cursosdictados:before {
  content: "\e925";
}
.icon-capacitacion_cursosdisponibles:before {
  content: "\e926";
}
.icon-cd_info:before {
  content: "\e927";
}
.icon-cmdb_ciudadano:before {
  content: "\e928";
}
.icon-cmdb_ciudadano_coberturasocial:before {
  content: "\e929";
}
.icon-cmdb_ciudadano_datospersonales:before {
  content: "\e92a";
}
.icon-cmdb_ciudadano_domicilio:before {
  content: "\e92b";
}
.icon-cmdb_ciudadano_infocontacto:before {
  content: "\e92c";
}
.icon-cmdb_ciudadano_informacionvital:before {
  content: "\e92d";
}
.icon-cmdb_ciudadano_niveldeformacion:before {
  content: "\e92e";
}
.icon-cmdb_ciudadano_situacionlaboral:before {
  content: "\e92f";
}
.icon-cmdb_ciudadanoaceptar .path1:before {
  content: "\e930";
  color: rgb(0, 0, 153);
}
.icon-cmdb_ciudadanoaceptar .path2:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(0, 0, 153);
}
.icon-cmdb_ciudadanoaceptar .path3:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(0, 0, 153);
}
.icon-cmdb_ciudadanoaceptar .path4:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(0, 102, 51);
}
.icon-cmdb_ciudadanoaceptar .path5:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-cmdb_datosasociados:before {
  content: "\e935";
}
.icon-cmdb_documentos:before {
  content: "\e936";
}
.icon-cmdb_estados_anses:before {
  content: "\e937";
}
.icon-cmdb_estados_ape:before {
  content: "\e938";
}
.icon-cmdb_estados_auh:before {
  content: "\e939";
}
.icon-cmdb_estados_auh_b:before {
  content: "\e93a";
}
.icon-cmdb_estados_auh_t:before {
  content: "\e93b";
}
.icon-cmdb_estados_sangre_0neg:before {
  content: "\e93c";
}
.icon-cmdb_estados_sangre_0pos:before {
  content: "\e93d";
}
.icon-cmdb_estados_sangre_abneg:before {
  content: "\e93e";
}
.icon-cmdb_estados_sangre_abpos:before {
  content: "\e93f";
}
.icon-cmdb_estados_sangre_aneg:before {
  content: "\e940";
}
.icon-cmdb_estados_sangre_apos:before {
  content: "\e941";
}
.icon-cmdb_estados_sangre_bneg:before {
  content: "\e942";
}
.icon-cmdb_estados_sangre_bpos:before {
  content: "\e943";
}
.icon-cmdb_ficha_convinarficha:before {
  content: "\e944";
}
.icon-cmdb_ficha_incucai:before {
  content: "\e945";
}
.icon-cmdb_indocumentado:before {
  content: "\e946";
}
.icon-cmdb_nucleofamiliar:before {
  content: "\e947";
}
.icon-cmdb_prestaciones:before {
  content: "\e948";
}
.icon-configurar:before {
  content: "\e949";
}
.icon-deshabilitar:before {
  content: "\e94a";
}
.icon-documentacion_accesopublico:before {
  content: "\e94b";
}
.icon-editar:before {
  content: "\e94c";
}
.icon-eliminar:before {
  content: "\e94d";
}
.icon-endesarrollo:before {
  content: "\e94e";
}
.icon-establecimientos:before {
  content: "\e94f";
}
.icon-explorar:before {
  content: "\e950";
}
.icon-faq:before {
  content: "\e951";
}
.icon-geolocalizacion:before {
  content: "\e952";
}
.icon-geolocalizacion_mapa:before {
  content: "\e953";
}
.icon-info:before {
  content: "\e954";
}
.icon-infografia:before {
  content: "\e955";
}
.icon-investigacion:before {
  content: "\e956";
}
.icon-listas_anterior:before {
  content: "\e957";
}
.icon-listas_ordenar_ascendente:before {
  content: "\e958";
}
.icon-listas_ordenar_descendente:before {
  content: "\e959";
}
.icon-listas_primer:before {
  content: "\e95a";
}
.icon-listas_siguiente:before {
  content: "\e95b";
}
.icon-listas_ultimo:before {
  content: "\e95c";
}
.icon-logo_argentina_escudo:before {
  content: "\e95d";
}
.icon-logo_argentina_presidencia:before {
  content: "\e95e";
}
.icon-logo_covid:before {
  content: "\e95f";
}
.icon-logo_impulsa:before {
  content: "\e960";
}
.icon-logo_msal:before {
  content: "\e961";
}
.icon-logo_publicidad:before {
  content: "\e962";
}
.icon-logo_sisa:before {
  content: "\e963";
}
.icon-logo_sisa_completo:before {
  content: "\e964";
}
.icon-map_arg_0:before {
  content: "\e965";
}
.icon-map_arg_1:before {
  content: "\e966";
}
.icon-map_arg_2:before {
  content: "\e967";
}
.icon-map_arg_3:before {
  content: "\e968";
}
.icon-map_arg_4:before {
  content: "\e969";
}
.icon-map_arg_5:before {
  content: "\e96a";
}
.icon-map_arg_6:before {
  content: "\e96b";
}
.icon-map_arg_7:before {
  content: "\e96c";
}
.icon-map_arg_8:before {
  content: "\e96d";
}
.icon-map_arg_9:before {
  content: "\e96e";
}
.icon-map_arg_10:before {
  content: "\e96f";
}
.icon-map_arg_11:before {
  content: "\e970";
}
.icon-map_arg_12:before {
  content: "\e971";
}
.icon-map_arg_13:before {
  content: "\e972";
}
.icon-map_arg_14:before {
  content: "\e973";
}
.icon-map_arg_15:before {
  content: "\e974";
}
.icon-map_arg_16:before {
  content: "\e975";
}
.icon-map_arg_17:before {
  content: "\e976";
}
.icon-map_arg_18:before {
  content: "\e977";
}
.icon-map_arg_19:before {
  content: "\e978";
}
.icon-map_arg_20:before {
  content: "\e979";
}
.icon-map_arg_21:before {
  content: "\e97a";
}
.icon-map_arg_22:before {
  content: "\e97b";
}
.icon-map_arg_23:before {
  content: "\e97c";
}
.icon-map_arg_24:before {
  content: "\e97d";
}
.icon-marconormativo:before {
  content: "\e97e";
}
.icon-mod_agenda:before {
  content: "\e97f";
}
.icon-mod_alertas:before {
  content: "\e980";
}
.icon-mod_auditoria:before {
  content: "\e981";
}
.icon-mod_autoridadesyreferentes:before {
  content: "\e982";
}
.icon-mod_ayudaenlinea:before {
  content: "\e983";
}
.icon-mod_biblioteca:before {
  content: "\e984";
}
.icon-mod_capacitacion:before {
  content: "\e985";
}
.icon-mod_centraldereportes:before {
  content: "\e986";
}
.icon-mod_codificaciones:before {
  content: "\e987";
}
.icon-mod_codificacionesauxiliares:before {
  content: "\e988";
}
.icon-mod_comunidadsisa:before {
  content: "\e989";
}
.icon-mod_exportimport:before {
  content: "\e98a";
}
.icon-mod_fichadeciudadano:before {
  content: "\e98b";
}
.icon-mod_geosisa:before {
  content: "\e98c";
}
.icon-mod_ministerios:before {
  content: "\e98d";
}
.icon-mod_movile:before {
  content: "\e98e";
}
.icon-mod_noticias:before {
  content: "\e98f";
}
.icon-mod_padron:before {
  content: "\e990";
}
.icon-mod_puco:before {
  content: "\e991";
}
.icon-mod_serviciosweb:before {
  content: "\e992";
}
.icon-mod_sisabi:before {
  content: "\e993";
}
.icon-mod_sisageneral:before {
  content: "\e994";
}
.icon-mod_soporte:before {
  content: "\e995";
}
.icon-mod_usuarios:before {
  content: "\e996";
}
.icon-mod_verificador:before {
  content: "\e997";
}
.icon-reg__registrorestringido:before {
  content: "\e998";
}
.icon-reg_bndo:before {
  content: "\e999";
}
.icon-reg_ccc:before {
  content: "\e99a";
}
.icon-reg_deis:before {
  content: "\e99b";
}
.icon-reg_epf:before {
  content: "\e99c";
}
.icon-reg_esavi:before {
  content: "\e99d";
}
.icon-reg_ieh:before {
  content: "\e99e";
}
.icon-reg_iepna:before {
  content: "\e99f";
}
.icon-reg_nomivac:before {
  content: "\e9a0";
}
.icon-reg_ongs:before {
  content: "\e9a1";
}
.icon-reg_paierc:before {
  content: "\e9a2";
}
.icon-reg_pfis:before {
  content: "\e9a3";
}
.icon-reg_pnh:before {
  content: "\e9a4";
}
.icon-reg_pnt:before {
  content: "\e9a5";
}
.icon-reg_pronahep:before {
  content: "\e9a6";
}
.icon-reg_prosane:before {
  content: "\e9a7";
}
.icon-reg_recann:before {
  content: "\e9a8";
}
.icon-reg_recom:before {
  content: "\e9a9";
}
.icon-reg_recs:before {
  content: "\e9aa";
}
.icon-reg_redes:before {
  content: "\e9ab";
}
.icon-reg_redh:before {
  content: "\e9ac";
}
.icon-reg_redos:before {
  content: "\e9ad";
}
.icon-reg_redro:before {
  content: "\e9ae";
}
.icon-reg_refar:before {
  content: "\e9af";
}
.icon-reg_refecv:before {
  content: "\e9b0";
}
.icon-reg_refeps:before {
  content: "\e9b1";
}
.icon-reg_refes:before {
  content: "\e9b2";
}
.icon-reg_rehab:before {
  content: "\e9b3";
}
.icon-reg_remediar:before {
  content: "\e9b4";
}
.icon-reg_renac:before {
  content: "\e9b5";
}
.icon-reg_renacel:before {
  content: "\e9b6";
}
.icon-reg_rendecar:before {
  content: "\e9b7";
}
.icon-reg_renis:before {
  content: "\e9b8";
}
.icon-reg_resam:before {
  content: "\e9b9";
}
.icon-reg_residencias:before {
  content: "\e9ba";
}
.icon-reg_rnh:before {
  content: "\e9bb";
}
.icon-reg_sa:before {
  content: "\e9bc";
}
.icon-reg_sfyc:before {
  content: "\e9bd";
}
.icon-reg_sipg:before {
  content: "\e9be";
}
.icon-reg_sivile:before {
  content: "\e9bf";
}
.icon-reg_smis:before {
  content: "\e9c0";
}
.icon-reg_snvs:before {
  content: "\e9c1";
}
.icon-reg_sumar:before {
  content: "\e9c2";
}
.icon-reg_svih:before {
  content: "\e9c3";
}
.icon-reg_telesalud:before {
  content: "\e9c4";
}
.icon-reg_ufis:before {
  content: "\e9c5";
}
.icon-reg_vol_covid:before {
  content: "\e9c6";
}
.icon-renis_comiteetica:before {
  content: "\e9c7";
}
.icon-renis_consultar:before {
  content: "\e9c8";
}
.icon-renis_informaciondelregistro:before {
  content: "\e9c9";
}
.icon-renis_investigador:before {
  content: "\e9ca";
}
.icon-renis_patrocinador:before {
  content: "\e9cb";
}
.icon-renis_registrar:before {
  content: "\e9cc";
}
.icon-reporte_chequear:before {
  content: "\e9cd";
}
.icon-reportes_geolocalizacion:before {
  content: "\e9ce";
}
.icon-reportes_informes:before {
  content: "\e9cf";
}
.icon-reportes_integrados:before {
  content: "\e9d0";
}
.icon-reportes_listados:before {
  content: "\e9d1";
}
.icon-reportes_numericos:before {
  content: "\e9d2";
}
.icon-sexo_femenino:before {
  content: "\e9d3";
}
.icon-sexo_masculino:before {
  content: "\e9d4";
}
.icon-usuario_agregar:before {
  content: "\e9d5";
}
.icon-usuario_deshabilitar:before {
  content: "\e9d6";
}
.icon-usuario_enviarmail:before {
  content: "\e9d7";
}
.icon-z_pani_skeletor:before {
  content: "\e9d8";
}
.icon-z_pani_unicorn:before {
  content: "\e9d9";
}
.icon-zoom_agrandar:before {
  content: "\e9da";
}
.icon-zoom_reducir:before {
  content: "\e9db";
}
