@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;700&display=swap');



body {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
	font-family: 'Encode Sans', sans-serif !important;
}

/* 
.falsoBody{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    justify-content: center;
    position: relative;
    margin: 0;
    padding: 0;
}
.falsoBody > .contenedor{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
    margin: 0;
    padding: 0;
}
*/
.carnet{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 300px;
    margin: 4px;
    border-radius: 25px;  
    border: solid 1px rgba(0,0,0,.1);
    box-shadow: 0 1px 4px rgba(0,0,0,.5) !important;
    background-color: white;
}
/* .carnet:first-child{    margin-top: 0px; }
.carnet:last-child{     margin-bottom: 0px; } */

.carnet h1,
.carnet h2,
.carnet h3,
.carnet p{
    margin: 0px;
    padding: 0px;
}

.carnet > div{  padding: 4px 0px; }

.carnet > .cabecera{  
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 78px;
    border-radius: 18px 18px 0px 0px;
    background-color: white;
}
.carnet > .cabecera > .icono{   width: 100px; padding: 4px 20px; }
.carnet > .cabecera > .icono span{   font-size: 64px; color: #333 !important;  }
.carnet > .cabecera > div:last-child{   
    display: flex;
    align-content: center;
    flex-grow: 2; 
    border-bottom: 1px solid #999;
}
.carnet > .cabecera > div:last-child h1{    display: flex; align-self: center;}

.carnet.dorso > .cabecera{  height: 28px; background-color: #37BBED !important;}

.carnet > .cuerpo{     
    display: flex; 
    flex-direction: column; 
    height: 172px; 
    padding: 20px;
    background-color: white; 
}
.carnet > .cuerpo > div:first-child{     display: flex; flex-direction: row;}
.carnet > .cuerpo > div:first-child > div:first-child{   width: 70%; }
.carnet > .cuerpo > div:first-child > div:last-child{   width: 70%; }
.carnet > .cuerpo > div:first-child > div:last-child{     padding-left: 20px;}


.carnet.dorso > .cuerpo{    display: flex; flex-direction: row; }
.carnet.dorso > .cuerpo > div{     width: 50%;}

.carnet > .pie{
    display: flex;
    justify-content: flex-end;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0px 0px 18px 18px;
    background-color: #37BBED;
    color: white;
}
.carnet > .pie span{ display: flex; font-size: 72px; color: white; }
.carnet > .pie .msal span{ font-size: 100px; margin-top: -28px; }
.carnet > .pie .impulsa_logo span{ font-size: 36px; }

.carnet > .escudo{  
    position: absolute; 
    width: 400px; 
    height: 300px; 
    top: 0px; 
    right: 0px; 
    text-align: right;
    overflow: hidden; 
}
.carnet > .escudo span{ position: relative; right: -80px; font-size: 300px; opacity: .1; }


.carnet.dorso > .pie{
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0px 0px 18px 18px;
    background-color:white;
    border-top: 1px solid #999;
}

.carnet.dorso > .pie > div:nth-child(1),
.carnet.dorso > .pie > div:nth-child(3){ flex-grow: 0; }
.carnet.dorso > .pie > div:nth-child(2){ 
    flex-grow: 2; 
    padding: 10px 20px 0px 20px;
}
.carnet.dorso > .pie span{ color: #333; }
.carnet.dorso > .pie .covid > span{ font-size: 80px; margin-top: 4px; }
.carnet.dorso > .pie .msal > span{ font-size: 150px; margin-top: -28px; }

.carnet.dorso > .pie .impulsa_logo .texto h1{ font-size: 20px; color: #333; }
.carnet.dorso > .pie .impulsa_logo span{ font-size: 44px; }

.info{  margin-bottom: 10px;}



.impulsaLogoCompleto{
    position: relative;
    top: 10px;
    right: 10px;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-self: center; /* */
}
.impulsa_logo {
	display: flex;
	flex-direction: row;
	align-content: center;
    align-self: center;
    margin-right: 20px;
}

.impulsa_logo > .texto {    display: flex; align-self: center; }

.impulsa_logo > .texto > * {
	padding: 0px;
	margin: 0px;
	color: white;
	font-family: 'Encode Sans' !important;
	font-size: 16px;
	font-weight: bold;
	line-height: 1;
}

.impulsa_logo > span {
	font-size: 10px;
	padding-left: 10px;
}


.carnet.op1 > div span,
.carnet.op1 > div h1,
.carnet.op1 > div h2,
.carnet.op1 > div h3,
.carnet.op1 > div p{   color: white !important;  }

.carnet.op1{  
    position: relative;
    display: flex; 
    flex-direction: row; 
    background-color: #37BBED !important; 
    color: white !important;
}
.carnet.op1 > div{  
    position: relative;
    display: flex; 
    flex-direction: column; 
    padding: 20px;
}

.carnet.op1 .logo{    width: 200px;  }
.carnet.op1 .logo span{    font-size: 150px;  }

.carnet.op1 .informacion{    min-width: 400px !important;  }


.carnet.op1 .cabecera{    margin-bottom: 14px; }
.carnet.op1 > div .columnas{    display: flex; flex-direction: row; }
.carnet.op1 > div .columnas > div:last-child{    padding-left: 20px; }



.carnet.op1 .pie{
    position: absolute;
    bottom: 4px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
    color: white;
    max-height: 50px;
}
.carnet.op1 .pie .msal span{ font-size: 100px; position: relative; top: -28px; }
.carnet.op1 .pie .impulsa_logo span{ font-size: 36px; }

.carnet.op1 .escudo{  
    position: absolute; 
    width: 400px; 
    height: 300px; 
    top: 0px; 
    right: 0px; 
    text-align: right;
    overflow: hidden; 
}
.carnet.op1 .escudo span{ position: relative; right: -80px; font-size: 300px; opacity: .1; }


/* .carnet.op1.dorso .pie{
    display: flex;
    justify-content: space-between;
    color: white;
    position: relative;
    align-content: center;
    top: 70px;
} */



/* Debug 
.carnet.op1 .impulsa_logo > * ,
.carnet.op1 .impulsa_logo > .texto,
.carnet.op1 .impulsa_logo > .texto > * { border: black 1px dotted; }
.carnet.op1 > div:last-child > *,
.carnet.op1 > div:last-child > * > *{    border: black 1px dotted;  }

body {                      border: yellow 1px solid; }
.falsoBody{                 border: yellowgreen 1px dashed; }
.falsoBody > .contenedor{   border: black 1px dotted; }
.carnet > .cabecera > div:last-child,
.carnet > .cabecera > div:last-child > *,
.carnet > .cabecera > div:last-child > * > *{   border: black 1px dotted; }
*/
