@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;700&display=swap');


/* 
. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 
Estilos heredados de SISA
*/



body{
    position: absolute;
    width: 100%;
    height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: 'Encode Sans', sans-serif !important;
	font-size:12px;
	font-weight: normal;
	color: #1D1D1B;
	background-color: #ffffff;/* ffffff 37BBED */
	/*	background-color:#F5F5F5;  */
}
/* body .col-12{    position: relative; } */



/*Links*/
a{			color:#37BBED; /* A3 */ font-weight:normal; text-decoration:none;}
a:hover{	text-decoration: underline;color:#37BBED; /* A3 */ }
a:focus{	text-decoration: underline;color:#37BBED; /* A3 */ }


/* CABECERA  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.cabecera{
	position:relative;
    padding: 74px 0;
    /* 
	height: 122px;
    background-color:#37BBED;
    border-bottom: 1px #50535C solid;
    */
}

.cabecera h1{ 
    display: flex;
    padding-top: 26px;
    padding-left: 6px;
    font-weight: bold; 
    font-size: 50px; 
    line-height: .95; 
}
.cabecera .logo_ArgentinaTeCuida_h{ 
    display: block;
    text-indent: -9999px;
    width: 553px;
    height: 126px;
    background: url(imagenes/logo_argentinaTeCuida_copete_hor.svg);
    background-size: 553px 126px;
}

.contenedorCarnet{ display: flex; flex-direction: column; align-items: center; }


/* 
. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 
Estilos propios del carnet
*/


.carnet{
    position: relative;
    z-index: 10; 
    display: flex;
    overflow: hidden;
    width: 856px;
    height: 539px;
    margin-bottom: 56px;
    border-radius: 30px;
    border: #707070 1pt solid;
    background-color: white;
    font-family: 'Encode Sans', sans-serif !important;
    /* 
    border: #878787 2pt solid; 
    width: 1013px;
    height: 642px;
    */
}

.carnet h1{ font-size: 22pt; }
.carnet p{ color: #111111; padding: 0px; margin: 0px;  }

.carnet.frente{ flex-direction: column; }
.carnet.frente > div:first-child{ padding: 0px 30px; }
.carnet.frente > .institucional{ 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    z-index: 10;
    width: 100%;
    height: 90px;
    background-color: #37BBED; 
    color: white;
}
.carnet.frente > .institucional *{ display: flex; }
.carnet.frente > .institucional span.logo_vacunacion{
    width: 102px;
    height: 62px;
    background: url(imagenes/logo_campana.svg);
    background-size: 102px 62px; 
}
.carnet.frente > .info{ display: flex; flex-direction: row; position: relative; gap: 40px; padding: 30px; }
/* .carnet.frente > .info .datos{ padding-left: 40px; }
.carnet.frente > div:last-child > *{ position: relative; } */



.carnet.dorso{ flex-direction: row; gap: 40px; }
.carnet.dorso > .institucional{ 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    width: 232px;
    background-color: #37BBED; 
    color: white;
}
.carnet.dorso > .institucional span{ 
    width: 170px;
    height: 460px;
    margin: 40px 30px;
    background: url(imagenes/institucional.svg);
    background-repeat: no-repeat;
}
/* .carnet.dorso > .institucional span{ font-size: 32pt; margin-bottom: 20px; } */
.carnet.dorso > .info{ flex-direction: row; }
.carnet.dorso > .info > div:first-child{ border-bottom: black 1pt solid; }
.carnet.dorso > .info h1{ font-size: 22px; padding: 30px 0px; margin: 0px; }

.carnet.dorso > .info .c2{ display: flex; flex-direction: column; position: relative; width: 100%; padding: 30px 0px; }
.carnet.dorso > .info .c2 > div{ display: flex; flex-direction: row; position: relative; width: 100%; }
.carnet.dorso > .info .c2 > div > div:first-child{ width: 70%; }
.carnet.dorso > .info .c2 > div > div:last-child{ width: 30%; }
/* 
.dorso .institucional h1,
.dorso .institucional p{ font-weight: bold; line-height: 1.3; }
.dorso .institucional p{ font-size: 14pt; }
.dorso .institucional h1{ font-size: 22pt; }
 */

.carnet .datos > div{ display: flex; flex-direction: column; margin-bottom: 20px; }
.carnet .datos > div:last-child{ margin-bottom: 0px; }
.carnet .datos > div > p{ line-height: 1.3; }
.carnet .datos > div > p:first-child{ font-size: 16px; }
.carnet .datos > div > p:last-child{ font-size: 20px; font-weight: bold; }


.carnet .info { position: relative;}
.carnet .logo_escudo{ 
    position: absolute; 
    display: flex;
    width: 390px;
    top: 30px;
    z-index: 1;
    padding: 0px;
    right: 0px;
    overflow: hidden;
}
.carnet .logo_escudo span{ 
    position: relative; 
    width: 100px;
    right: -80px;
    opacity: .04;
    width: 385px;
    height: 614px;
    background: url(imagenes/logo_argentina_escudo.svg);
    background-size: 385px 614px; 
    background-repeat: no-repeat;
}
.carnet .logo_ministerio{ 
    position: absolute; 
    bottom: 40px;
    right: 30px;
    width: 181px;
    height: 43px;
    background: url(imagenes/logo_msal_fono.svg);
    background-size: 181px 43px; 
    background-repeat: no-repeat;
}



/*
.carnet.frente > div:first-child{ border: #284049 dashed 1px;}
.carnet.frente > div:first-child *{ border: #284049 dotted 1px;}
.col-12{border: #37BBED dotted 1px;}
.carnet { border: red dashed 2px;}
.carnet > *{ border: royalblue dotted 2px;}
.carnet > * > *{ border: rebeccapurple dotted 1px;}
.carnet .logo_escudo{ border: rebeccapurple dotted 1px;}
.carnet .logo_escudo span{ border: red dashed 1px;}

.carnet > div{
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.carnet > div:first-child{ 
    flex-grow: 0;
    width: 226px !important;
    min-width: 226px;
    color: white;
    background-color: #47BAEC;
}
.carnet > div:last-child{ 
    flex-grow: 2;
    color: inherit;
    padding: 56px 46px;
}

.carnet,
.carnet > div{  box-sizing: border-box; }

.carnet h1,
.carnet h2,
.carnet h3,
.carnet p{
    margin: 0px;
    padding: 0px;
}

.carnet > div:first-child > div{     padding-left: 25px; }

.carnet > div:first-child .icono{ 
    display: block;
    padding-top: 56px;
    background-color: white;
}
.carnet > div:first-child .logo_ArgentinaTeCuida_h{ 
    display: block;
    text-indent: -9999px;
    width: 553px;
    height: 126px;
    background: url(imagenes/logo_argentinaTeCuida_copete_hor.svg);
    background-size: 553px 126px;
}
.carnet > div:first-child .logo_presidencia{ 
    display: block;
    text-indent: -9999px;
    width: 185px;
    height: 70px;
    margin-top: 68px;
    background: url(imagenes/logo_presidencia.svg);
    background-size: 185px 70px;
}
.carnet > div:first-child h2{ font-weight: bold; font-size: 39px; padding-top: 28px; }
.carnet > div:first-child h4{ font-weight: bold; font-size: 22px; padding-top: 30px; color: #1D1D1B; }


.carnet > div:last-child > div:first-child{ padding-bottom: 72px; }
.carnet > div:last-child > div:first-child h1{ font-weight: bold; font-size: 40px; padding-bottom: 5px; }
.carnet > div:last-child > div:first-child h2{ font-weight: 600; font-size: 28px; }
.carnet > div:last-child > div:last-child{ position: absolute; bottom: 35px; }
.carnet > div:last-child > div:last-child h3{ font-weight: bold; font-size: 28px;padding-bottom: 7px; }
.carnet > div:last-child > div:last-child h4{ font-weight: bold; font-size: 20px; }
.carnet > div:last-child .info{ display: flex; flex-direction: row; }
.carnet > div:last-child .info > div:first-child{ width: 240px; }
.carnet > div:last-child .info > div:last-child{padding-left: 30px; }
.carnet .campos > div{ padding-bottom: 20px; }
.carnet .campos > div:last-child{ padding-bottom: 0px; }
.carnet .campos > div > p{ line-height: 1.5; }
.carnet .campos > div > p:first-child{ font-size: 16px; font-weight: 600; }
.carnet .campos > div > p:last-child{ font-size: 23px; font-weight: bold; }


.carnet.dorso > div:last-child > div:first-child{ display: flex; flex-direction: row; align-items: baseline; padding-bottom: 42px; }
.carnet.dorso > div:last-child > div:first-child h1{ font-weight: bold; font-size: 26px; }
.carnet.dorso > div:last-child > div:first-child h2{ font-weight: 600; font-size: 24px; }

.carnet.dorso > div:last-child .info > div {    width: 100%; padding: 16px 0;}
.carnet.dorso > div:last-child .info > div:first-child {    padding-top: 0px;}
.carnet.dorso > div:last-child .info > div:last-child {    padding-bottom: 0px;}
.carnet.dorso > div:last-child .info .campos:first-child {    width: 410px; }
.carnet.dorso > div:last-child .info .campos:last-child {    padding-left: 20px; }

.carnet.dorso > div:last-child .info > div:last-child {    padding-left: 0px; }

.carnet.dorso .info{ display: flex; flex-direction: column !important; }
.carnet.dorso .info > div{ display: flex; flex-direction: row; width: 100%; }
.carnet.dorso .info > div:first-child{ border-bottom: #1D1D1B 2px solid; }
.carnet.dorso .campos{ flex-grow: 2; }
.carnet.dorso .campos > div{ padding-bottom: 12px !important; }

.carnet.dorso .campos > div > p:first-child{ font-size: 18px; font-weight: 600; line-height: 1; }
.carnet.dorso .campos > div > p:last-child{ font-size: 23px; font-weight: bold; line-height: 1; }


.carnet.dorso .infoDorso{ display: flex; flex-direction: column !important; gap: 20px; }
.carnet.dorso .infoDorso > div{ display: flex; flex-direction: row; width: 100%;  }
.carnet.dorso .infoDorso > div:first-child > div:first-child{ width: 240px;  }
.carnet.dorso .infoDorso > div:first-child > div:last-child{ width: calc(100% - 240px);padding-left: 30px;  }
.carnet.dorso .infoDorso .divisor{ display: flex; flex-direction: row; gap: 20px;  }
.carnet.dorso .infoDorso .divisor > div:first-child{  width: calc(100% - 200px);  }
.carnet.dorso .infoDorso .divisor > div:last-child{  width: 180px;  }

.carnet.dorso .campos{ padding-bottom: 40px;  }
.carnet.dorso .campos p:last-child{ padding-top: 10px;  }

 */