
/*	Tablero Laboratorio Agrupado    ------------------------------------------------------------------- */

.SNVS_tableroLaboratorioAgrupado .item{	display: flex; flex-direction: row;	}
.SNVS_tableroLaboratorioAgrupado .item > *:first-child{		text-align: right; color: gray; margin-right: 4px;	}
.SNVS_tableroLaboratorioAgrupado .item > *{	width: 50%;	}

.SNVS_tableroLaboratorioAgrupado .menu .seleccion,
.SNVS_tableroLaboratorioAgrupado .menu .configuracion{
	padding: 20px;
	border-radius: 4px;
	background-color: white;
	box-shadow: 0 1px 4px rgba(0,0,0,.5);
}


.SNVS_tableroLaboratorioAgrupado .menu .configuracion .botonSeleccion{
    padding: 10px 20px;
    margin: 10px;
	border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0,0,0,.5);
    text-align: center;
    cursor: pointer;
}
.SNVS_tableroLaboratorioAgrupado .menu .configuracion .botonSeleccion *{ margin: 0px; padding: 0px;}

.SNVS_tableroLaboratorioAgrupado .menu .configuracion .paso2a > div > div{ min-height: 90px !important; padding: 0px;}
.SNVS_tableroLaboratorioAgrupado .menu .configuracion .paso2a > div > div > div{ 
    display: flex;
    flex-direction: column;
    border: 1px lightgray solid;
    padding: 4px;
    border-radius: 8px;
    margin: 1px;
    min-height: 82px;
}
.SNVS_tableroLaboratorioAgrupado .menu .configuracion .paso2a > div > div > div:hover{ background-color: #0ca6b2; border: 1px #0ca6b2 solid; box-shadow: 0 1px 4px rgba(0,0,0,.5); cursor: pointer; }
.SNVS_tableroLaboratorioAgrupado .menu .configuracion .paso2a > div > div > div:hover > *{ color: white;}

.SNVS_tableroLaboratorioAgrupado .menu .configuracion .paso2a > div > div > div > *{ text-align: center;}
.SNVS_tableroLaboratorioAgrupado .menu .configuracion .paso2a span{ font-size: 34px; margin-bottom: 8px; text-align: center; }
.SNVS_tableroLaboratorioAgrupado .menu .configuracion .paso2a small{ font-size: 8px; }

.SNVS_tableroLaboratorioAgrupado .menu .configuracion .paso2b .lista > div,
.SNVS_tableroLaboratorioAgrupado .menu .configuracion .paso3a .lista > div { 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}
/* 
.SNVS_tableroLaboratorioAgrupado .menu .configuracion .paso3a .lista > div:nth-child(odd) {     background-color: #0ca7b221; }
.SNVS_tableroLaboratorioAgrupado .menu .configuracion .paso3a .lista > div:nth-child(even) {     background-color: #0ca7b255; }
 */
.SNVS_tableroLaboratorioAgrupado .menu .configuracion .paso2b .lista > div:hover,
.SNVS_tableroLaboratorioAgrupado .menu .configuracion .paso3a .lista > div:hover { 
    cursor: pointer;
    background-color: #0ca6b2;
    color: white;
}
.SNVS_tableroLaboratorioAgrupado .menu .configuracion .paso2b .lista > div span,
.SNVS_tableroLaboratorioAgrupado .menu .configuracion .paso3a .lista > div span {  
    position: relative;
    width: 20px !important;
    height: 20px !important;
    top: 3px;
    right: 3px;
    border-radius: 16px; 
    background-color: #3366ff;; 
    color: white; 
    font-size: 16px; 
}
.SNVS_tableroLaboratorioAgrupado .menu .configuracion .paso2b .lista > div:hover span,
.SNVS_tableroLaboratorioAgrupado .menu .configuracion .paso3a .lista > div:hover span{ 
    color: #0ca6b2;
    background-color: white;
}
.SNVS_tableroLaboratorioAgrupado .menu .configuracion .paso2b .lista > div label,
.SNVS_tableroLaboratorioAgrupado .menu .configuracion .paso3a .lista > div label { 
    width: auto; 
    display: flex;
    flex-grow: 1;
    font-weight: normal; 
    border-bottom: 1px solid rgba(0,0,0,.5);
    padding: 4px 0px 4px 10px;
    margin: 0px;
}
.SNVS_tableroLaboratorioAgrupado .menu .configuracion .paso2b .lista > div *,
.SNVS_tableroLaboratorioAgrupado .menu .configuracion .paso3a .lista > div * {    border: 1px dotted rgba(255,0,0,.5);  }
/* 
.SNVS_tableroLaboratorioAgrupado .menu .configuracion .paso3a .lista > div label:hover { 
    cursor: pointer;
    background-color: #0ca6b2;
    color: white;
}
 */
.SNVS_tableroLaboratorioAgrupado .menu .configuracion .paso3a .provincia{
    background-color: #0ca6b2;
    color: white;
	border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0,0,0,.5);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.SNVS_tableroLaboratorioAgrupado .menu .configuracion .paso3a .provincia span{  font-size: 72px; text-align: center; width: 100%; border-bottom: 1px solid rgba(0,0,0,.5);   }

.SNVS_tableroLaboratorioAgrupado .barraMenu{ height: 38px; margin-top: 10px;    }